body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.6px;
    font-style: normal;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    color: #242121;
}


/* header */

.container {
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__nav {
    display: block;
    max-width: 100%;
}

.header__mouse {}

.header__mouse svg {
    transition: all .4s ease;
    color: #FFFF;
}

.header__mouse svg:hover {
    transform: scale(1.2);
    color: #0078BF;
    text-shadow: 0 0 10px #01353E;
}

.header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 189px;
}

.header__top {
    padding-top: 35px;
}

.header__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 200px;
    align-items: center;
}

.menu {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 45px;
}

.menu__link {
    font-size: 24px;
    font-weight: 400;
    align-items: flex-end;
    color: #FFF;
    transition: border-bottom-color .3s ease;
    border-bottom: 1px solid transparent;
}

.menu__link:hover {
    border-bottom-color: 1px solid #00B2A0;
}

.header__text {
    text-align: center;
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 1.2;
    color: #0D302C;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 200px;
    text-align: center;
}


/* about */

.about {
    background-color: #FFF;
    max-height: 966px;
    margin-bottom: 200px;
}

.about__inner {
    display: block;
    text-align: center;
}

.title {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 102px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #01353E;
    text-transform: uppercase;
    text-align: center;
}

.title::after {
    content: "/";
    color: #00B2A0;
    max-width: 48px;
    max-height: 85px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 72px;
}

.about__text {
    display: flex;
    padding: 0 8px;
    margin-right: 120px;
}

p {
    margin-bottom: 30px;
}


/* onschool */

.onschool {
    background-color: #F8F8F8;
}

.onschool__items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.title::after {
    content: "/";
    color: #00B2A0;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 72px;
}

.onschool__cont {
    margin-right: 74px;
    display: block;
    max-width: 300px;
}

.sun::before {
    content: url(../images/sun.svg);
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.airplane::before {
    content: url(../images/airplane.svg);
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.wawe::before {
    content: url(../images/wawe.svg);
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.onschool__title {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-width: 200px;
    margin-bottom: 19px;
}

.onschool__text {
    margin-bottom: 103px;
    text-align: left;
}


/* ranking */

.ranking {
    margin-bottom: 200px;
}

.ranking__all {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.ranking__info {
    max-width: 346px;
    width: 100%;
}

.ranking__a::after {
    content: "85%";
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 400;
    padding-left: 70px;
}

.grafic__b::after {
    content: "95%";
    /* justify-content: flex-end; */
    font-size: 24px;
    font-weight: 400;
    padding-left: 70px;
}

.grafic__c::after {
    content: "99%";
    /* justify-content: flex-end; */
    font-size: 24px;
    font-weight: 400;
    padding-left: 70px;
}

.ranking__inner {
    display: block;
}

.ranking__img {
    background-image: url(../images/info.svg);
    max-height: 15px;
    max-width: 200px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 38px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.grafic__a {
    background-image: url(../images/info.svg);
    max-height: 15px;
    max-width: 200px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 38px;
}

.ranking__item {
    font-size: 14px;
    font-weight: 300;
}

.ranking__text {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/* surfer */

.surfer__inner {
    max-width: 518px;
    margin-right: auto;
    padding-top: 100px;
}

.surfer__title {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 102px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #01353E;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.surfer__title::after {
    content: "/";
    color: #00B2A0;
    max-width: 48px;
    max-height: 85px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 72px;
}

.surfer {
    background-image: url('../images/surfer.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 0;
    margin-bottom: 200px;
}