body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.6px;
    font-style: normal;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 193px;
}

.header__content {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__top {
    padding-top: 35px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 261px;
    align-items: center;
}

.logo {}

.logo__img {
    display: block;
    max-width: 100%;
}

.menu {
    display: block;
    margin-right: 245px;
}

.menu__list {
    display: flex;
    flex-direction: inherit;
}

.menu__list-item:not(:last-child) {
    margin-right: 45px;
}

.menu__list-link:hover {
    border-bottom: 1px solid #00B2A0;
}

.menu__list-link {
    font-size: 24px;
    align-items: flex-end;
    color: #fff;
    transition: all .3s;
}

.header__text {
    display: block;
    text-align: center;
    margin-right: -43px;
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 1;
    color: #0D302C;
}

.header__subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-right: 43px;
    padding-top: 19px;
}

.about {
    background-color: #fff;
    max-height: 966px;
}

.about__inner {
    display: block;
    text-align: center;
}

.inner__text {
    display: flex;
    justify-content: center;
}

.title__line {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 72px;
    letter-spacing: 0.6px;
    color: #00B2A0;
    max-width: 48px;
    height: 85px;
    justify-content: flex-end;
    align-items: center;
    padding-top: 32px;
}

.title {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 108px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #01353E;
    justify-content: center;
    margin-left: 86px;
}

.about__text {
    display: flex;
    justify-content: space-between;
    margin-right: 106px;
}

.about__text-l {
    text-align: left;
    flex-direction: column;
    padding: 0 8px;
}

.about__text-r {
    text-align: left;
    flex-direction: column;
    padding: 0 8px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 30px;
    color: #242121;
    font-weight: 300;
    max-width: 480px;
    font-size: 14px;
    line-height: 18px;
}