.ranking {
    margin-bottom: 200px;
}

.ranking__all {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.ranking__info {
    max-width: 346px;
    width: 100%;
}

.ranking__a::after {
    content: "85%";
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 400;
    padding-left: 70px;
}

.grafic__b::after {
    content: "95%";
    /* justify-content: flex-end; */
    font-size: 24px;
    font-weight: 400;
    padding-left: 70px;
}

.grafic__c::after {
    content: "99%";
    /* justify-content: flex-end; */
    font-size: 24px;
    font-weight: 400;
    padding-left: 70px;
}

.ranking__inner {
    display: block;
}

.ranking__img {
    background-image: url(../images/info.svg);
    max-height: 15px;
    max-width: 200px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 38px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.grafic__a {
    background-image: url(../images/info.svg);
    max-height: 15px;
    max-width: 200px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 38px;
}

.ranking__item {
    font-size: 14px;
    font-weight: 300;
}

.ranking__text {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}