body {
    /* font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px; */
    letter-spacing: 0.6px;
    font-style: normal;
}


/* header */

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 193px;
}

.header__content {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__top {
    padding-top: 35px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 261px;
    align-items: center;
}

.logo__img {
    display: block;
    max-width: 100%;
}

.menu {
    display: block;
    margin-right: 245px;
}

.menu__list {
    display: flex;
    flex-direction: inherit;
}

.menu__list-item:not(:last-child) {
    margin-right: 45px;
}

.menu__list-link:hover {
    border-bottom: 1px solid #00B2A0;
}

.menu__list-link {
    font-size: 24px;
    align-items: flex-end;
    color: #FFF;
    transition: all .3s;
}

.header__text {
    display: block;
    text-align: center;
    margin-right: -43px;
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 1;
    color: #0D302C;
    text-transform: uppercase;
}

.header__subtitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-right: 43px;
    padding-top: 19px;
}


/* about */

.about {
    background-color: #FFF;
    max-height: 966px;
}

.about__inner {
    display: block;
    text-align: center;
}

.inner__text {
    display: flex;
    justify-content: center;
}

.title__line {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 72px;
    color: #00B2A0;
    max-width: 48px;
    max-height: 85px;
    padding-top: 32px;
}

.title {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 102px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #01353E;
    justify-content: center;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    margin-bottom: 200px;
}

.about__text-r,
.about__text-l {
    padding: 0 8px;
    margin-right: 120px;
    max-width: 480px;
    text-align: left;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 30px;
    color: #242121;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
}


/* onschool */

.onschool {
    background-color: #F8F8F8;
    max-height: 953px;
}

.onschool__title {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 102px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #01353E;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.onschool__title::after {
    content: "/";
    color: #00B2A0;
    max-width: 48px;
    max-height: 85px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 72px;
}

.onschool__items {
    display: flex;
    justify-content: space-between;
}

.onschool__cont {
    display: flex;
    justify-content: center;
    height: 101px;
}

.sun,
.airplane,
.wawe {
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.onschool__title-inner {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    color: #242121;
    text-transform: uppercase;
    padding: 10px;
    max-width: 208px;
    margin-bottom: 33px;
}

.onschool__item-text p {
    max-width: 350px;
    margin-bottom: 103px;
}


/* ranking */

.ranking {
    margin-bottom: 200px;
}

.ranking__all {
    display: flex;
    justify-content: space-between;
    color: #242121;
    max-height: 953px;
    padding-top: 30px;
}

.ranking__inner-img {
    max-width: 294px;
    display: flex;
}

.grafic__info-a {
    max-height: 15px;
    max-width: 200px;
}

.grafic__info-b {
    max-height: 15px;
    max-width: 247px;
}

.grafic__info-c {
    max-height: 15px;
    max-width: 293px;
}

.ranking__info {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 140px;
    font-weight: 300;
    font-size: 14px;
    color: #242121;
    margin-bottom: 10px;
}

.ranking__info-item span {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-left: 10px;
    font-size: 24px;
    line-height: 18px;
    color: #242121;
}

.ranking__text {
    max-width: 600px;
}


/* surfer */

.surfer__inner {
    max-width: 518px;
    margin-right: auto;
    padding-top: 100px;
}

.surfer__title {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 102px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #01353E;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.surfer__title::after {
    content: "/";
    color: #00B2A0;
    max-width: 48px;
    max-height: 85px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 72px;
}

.surfer {
    background-image: url('../images/surfer.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right 0;
    margin-bottom: 200px;
}