html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main,
section {
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.6px;
    font-style: normal;
    background-color: #fff;
}

.title {
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.6px;
    font-style: normal;
    color: #01353E;
}

.subtitle {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.6px;
    font-style: normal;
    color: #242121;
}


/* header */

.container {
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    padding-top: 35px;
    display: flex;
    margin-bottom: 241px;
    align-items: center;
    max-width: 956px;
    justify-content: flex-start;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__mouse {
    padding-top: 314px;
    margin-bottom: 92px;
}

.header__mouse svg {
    transition: transform all 0.4s ease cubic-bezier(0.39, 0.575, 0.565, 1);
}

.header__mouse svg:hover {
    transform: scale(1.2);
}

.header {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header::before {
    content: '';
    position: absolute;
    height: 45vh;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #01353E 0%, rgba(51, 51, 51, 0.595076) 31.64%, rgba(51, 51, 51, 0.222586) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.logo__img {
    margin-right: 185px;
    transition: transform all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.logo__img:hover {
    transform: scale(1.2);
}


/* .nav */

.nav {
    justify-content: space-between;
    position: relative;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item:not(:last-child) {
    margin-right: 45px;
}

.nav__link {
    font-size: 24px;
    font-weight: 400;
    align-items: flex-end;
    color: #fff;
    transition: border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
    position: relative;
    outline: transparent;
}

.nav__link:after {
    content: "";
    background-color: #00b2a0;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
    height: 1px;
    width: 1px;
    left: 50%;
    position: absolute;
}

.nav__link:hover {
    border-bottom: 1px solid #00b2a0;
}

.nav__link:hover:after,
.nav__link:focus:after {
    width: 100%;
}


/* .header__content */

.header__content {
    display: flex;
    max-width: 800px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header__text {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.header__title {
    font-weight: bold;
    font-size: 200px;
    text-transform: uppercase;
    color: #0D302C;
}

.header__subtitle {
    font-size: 24px;
    font-weight: 400;
}


/* about */

.about {
    background-color: #fff;
    padding: 189px 0 199px;
}

.about__inner {
    display: flex;
    justify-content: center;
}

.about__title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    position: relative;
}

.about__title::after {
    content: "/";
    color: #00b2a0;
    max-width: 48px;
    max-height: 85px;
    position: absolute;
    font-size: 72px;
}

.about__text {
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

.about__text p {
    max-width: 480px;
    margin: 0 120px 30px 0;
}


/* onschool */

.onschool {
    background-color: #f8f8f8;
    padding-top: 177px;
}

.onschool__inner {
    display: flex;
    justify-content: center;
}

.onschool__items {
    display: flex;
    padding-top: 101px;
}

.onschool__title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    position: relative;
}

.onschool__title::after {
    content: "/";
    color: #00b2a0;
    width: 48px;
    height: 85px;
    position: absolute;
    font-size: 72px;
}

.onschool__items {
    display: flex;
    justify-content: space-between;
}

.onschool__cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
}

.onschool__subtitle {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 200px;
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.sun::before {
    content: url(../images/sun.svg);
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.airplane::before {
    content: url(../images/airplane.svg);
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.wawe::before {
    content: url(../images/wawe.svg);
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ranking */


/*поправить, можно это сделать на гридах? */

.ranking {
    background-color: #F8F8F8;
    padding: 103px 0 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.stat {
    display: flex;
    flex-flow: row wrap;
    max-width: 300px;
}

.stat__inner {
    display: flex;
    max-width: 300px;
}

.stat__subtile {
    margin-bottom: 20px;
}

.stat__wave {
    width: 300px;
    height: 15px;
    background-image: url(../images/info.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    margin: 0 10px 10px 0;
}

.stat__numb {
    font-size: 24px;
    font-weight: 400;
}

.ranking__text {
    max-width: 600px;
    display: flex;
    flex-flow: row wrap;
}

.ranking__text p:first-child {
    margin-bottom: 35px;
}


/* surfer */

.surfer {
    background-image: url(../images/surfer.jpg);
    padding: 200px 0 145px 0;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
}


/*не удалось спозиционировать картинку*/

.surfer__inner {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.surfer__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #01353e;
    text-transform: uppercase;
    padding: 200px 0 105px;
}

.surfer__title::after {
    content: "/";
    color: #00b2a0;
    max-width: 48px;
    max-height: 85px;
    position: absolute;
    font-weight: 600;
    font-size: 72px;
}

.surfer__text p {
    max-width: 510px;
    margin-bottom: 30px;
}


/* .gallery */

.gallery {
    display: block;
}

.gallery__top {
    padding-top: 200px 0 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__title {
    margin-bottom: 105px;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    color: #01353e;
    text-transform: uppercase;
    padding-top: 200px;
}

.gallery__title::after {
    content: "/";
    color: #00b2a0;
    max-width: 48px;
    max-height: 85px;
    position: absolute;
    font-weight: 600;
    font-size: 72px;
}

.gallery__inner {
    display: flex;
    flex-wrap: wrap;
}

.gallery__btn:hover {
    color: #00b2a0;
    transform: scale(1.2);
    transition: transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.gallery__btn {
    margin-right: 26px;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 50px;
    border: none;
    position: relative;
    cursor: pointer;
    background: transparent;
    outline: transparent;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.gallery__btn:after {
    content: "";
    background-color: #00b2a0;
    transition: width 0.3s ease-in-out;
    transform: translate(-50%);
    height: 1px;
    width: 1px;
    left: 50%;
    position: absolute;
    border-bottom: 1px solid #00b2a0;
}

.gallery__btn:focus:after {
    width: 50%;
}

.btn {
    border: 1px solid #C4C4C4;
    cursor: pointer;
    font-size: 24px;
    background: #FFFFFF;
    padding: 15px;
}

.gallery__add {
    display: flex;
    text-align: center;
    text-transform: uppercase;
}

.gallery__content {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}


/* градиент не получилось сделать */

.gallery__link {
    padding: 20px;
    width: 100%;
    height: auto;
}

.gallery__mix:hover {
    transform: scale(1.1);
    transition: transform 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
}


/* .blockquote */

.blockquote__cite {
    max-height: 200px;
    padding-top: 200px;
}

.blockquote {
    display: flex;
    background-color: #F8F8F8;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    justify-content: space-around;
    flex-flow: row wrap;
    flex-direction: column;
}

.blockquote__author {
    display: flex;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    margin-right: 145px;
    justify-content: flex-end;
}


/* .gallery__video */

.gallery__video {
    padding-top: 200px;
}

.gallery__video-link {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    outline: transparent;
}

.gallery__video-link path {
    transition: fill 0.6s;
}

.gallery__video-link:hover path {
    fill: #00b2a0;
}


/* не работает? */


/* .gallery__video-link:focus path {
    fill: tomato;
}  */


/* .gallery__video-link:active path {
    fill: #0048ff;
}  */


/* .gallery__numbers */

.gallery__numbers {
    display: flex;
    justify-content: center;
    padding: 200px 0 221px;
}

.gallery__item-num {
    display: flex;
}

.gallery__subtitle {
    color: #01353e;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery__text {
    font-weight: 300;
    font-size: 14px;
}

.gallery__subtitle:not(:last-child) {
    margin-right: 100px;
}