    html {
        box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    body {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: calc(1.3 * 1.3);
        letter-spacing: 0.6px;
        font-style: normal;
        background-color: #FFFFFF;
        color: #01353E;
    }
    
    .title {
        font-family: "Raleway", sans-serif;
        line-height: calc(1.16 * 1.16);
        letter-spacing: 0.6px;
    }
    /* header */
    
    .header {
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .header::before {
        content: '';
        position: absolute;
        height: 45vh;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(rgb(1, 53, 62) 0%, rgba(51, 51, 51, 0.596) 31.64%, rgba(51, 51, 51, 0.224) 74.35%, rgba(51, 51, 51, 0) 99.87%);
        min-width: 100%;
    }
    
    .container {
        max-width: 1220px;
        padding: 0 10px;
        margin: 0 auto;
    }
    
    .header__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header__inner {
        padding-top: 10px;
        display: flex;
        margin-bottom: 230px;
        align-items: center;
        max-width: 956px;
        justify-content: flex-start;
    }
    
    .header__nav {
        display: flex;
        position: relative;
        align-items: center;
        padding-top: 24px;
    }
    
    .header__logo {
        position: relative;
        padding-top: 2px;
    }
    
    .header__img {
        margin-right: 185px;
        transition: transform 0.6s;
    }
    
    .header__img:hover {
        transform: scale(1.2);
    }
    
    .menu {
        display: flex;
        justify-content: space-between;
    }
    
    .menu__list {
        display: flex;
    }
    
    .menu__list:not(:last-child) {
        margin-right: 45px;
    }
    
    .menu__link {
        font-size: 24px;
        font-weight: 400;
        align-items: flex-end;
        color: #fff;
        transition: border-bottom 0.3s ease;
        border-bottom: 1px solid transparent;
        position: relative;
        outline: transparent;
    }
    
    .menu__link::after {
        content: "";
        background-color: #00b2a0;
        transition: width 3.3s;
        transform: translateX(-50%);
        height: 1px;
        width: 1px;
        left: 50%;
        position: absolute;
    }
    
    .menu__link:hover {
        border-bottom: 1px solid #00b2a0;
    }
    
    .menu__link:hover::after,
    .menu__link:focus::after {
        width: 100%;
    }
    
    .header__mouse svg {
        transition: transform 0.4s ease;
        margin-bottom: 92px;
    }
    
    .header__mouse svg:hover {
        transform: scale(1.2);
        stroke: #0048ff;
    }
    /* .header__content */
    
    .header__content {
        display: flex;
        max-width: 800px;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
    
    .header__text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .header__title {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 200px;
        text-transform: uppercase;
        color: #0D302C;
    }
    
    .header__subtitle {
        color: #000;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 300px;
    }
    /* about */
    
    .about {
        padding: 184px 0 190px;
    }
    
    .about__title {
        margin-bottom: 95px;
    }
    
    .title {
        font-weight: 600;
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        color: #01353E;
    }
    
    .title::after {
        content: "/";
        color: #00b2a0;
        position: absolute;
        font-size: 72px;
    }
    
    .about__text {
        display: flex;
        flex-wrap: wrap;
        color: #242121;
        justify-content: space-between;
        max-width: 1080px;
    }
    
    .about__text p {
        max-width: 480px;
        margin: 0 10px 30px 0;
    }
    
    p:nth-child(n+7):nth-child(-n+8) {
        margin-bottom: 0;
    }
    /* school */
    
    .school {
        background-color: #f8f8f8;
        padding: 201px 0 170px;
    }
    
    .school__title {
        font-weight: 600;
        font-size: 48px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 101px;
        text-align: center;
    }
    
    .school__title::after {
        content: "/";
        color: #00b2a0;
        width: 48px;
        height: 85px;
        position: absolute;
        font-size: 72px;
    }
    
    .school__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 98px;
    }
    
    .school__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 358px;
        text-align: left;
    }
    
    .school__subtitle {
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
        max-width: 185px;
        margin-bottom: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .school__subtitle--sun::before {
        content: url(../images/sun.svg);
    }
    
    .school__subtitle--airplane::before {
        content: url(../images/airplane.svg);
    }
    
    .school__subtitle--wawe::before {
        content: url(../images/wawe.svg);
    }
    /* stat */
    
    .stat__ranking {
        display: flex;
        justify-content: space-between;
    }
    
    .stat__inner {
        display: flex;
        max-height: 20px;
        margin-bottom: 5px;
        padding-top: 8px;
    }
    
    .stat__wave {
        width: 300px;
        height: 30px;
        background-image: url(../images/info.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 10px;
    }
    
    .stat__numb {
        font-size: 24px;
        font-weight: 400;
        min-width: 43px;
        display: flex;
    }
    
    .stat__subtile {
        margin-bottom: 10px;
    }
    
    .stat__text p {
        max-width: 600px;
        margin-bottom: 30px;
    }
    /* surfer */
    
    .surfer {
        padding: 200px 0 147px;
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: top right;
    }
    
    .surfer__inner {
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }
    
    .surfer__title {
        margin-bottom: 100px;
    }
    
    .surfer__text p {
        max-width: 510px;
        margin-bottom: 30px;
    }
    
    .surfer__text p:last-child {
        margin-bottom: 0;
    }
    /* .gallery */
    
    .gallery {
        padding: 200px 0 200px;
    }
    
    .gallery__title {
        font-weight: 600;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 209px;
    }
    
    .gallery__inner {
        display: flex;
    }
    
    .gallery__btn-mix:first-child {
        margin-right: 25px;
    }
    
    .gallery__btn-mix {
        text-transform: uppercase;
        font-size: 24px;
        border: none;
        position: relative;
        cursor: pointer;
        background: transparent;
        outline: transparent;
        margin-bottom: 46px;
        font-weight: 400;
    }
    
    .btn {
        border: 1px solid #C4C4C4;
        font-size: 24px;
        padding: 18px;
        display: flex;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        min-width: 350px;
        position: relative;
        cursor: pointer;
        background: #FFFFFF;
        outline: transparent;
    }
    
    .gallery__btn-mix::after,
    .btn::after {
        content: "";
        background-color: #00b2a0;
        transition: width 0.3s ease;
        transform: translate(-50%);
        height: 1px;
        width: 1px;
        left: 50%;
        position: absolute;
    }
    
    .gallery__btn-mix:focus::after,
    .btn:focus::after {
        width: 50%;
    }
    
    .gallery__btn-mix:hover,
    .btn:hover {
        color: #00b2a0;
        transition: transform 0.3s ease;
    }
    
    .mixitup-control-active {
        color: #00b2a0;
    }
    
    .gallery__btn {
        padding-top: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gallery__content {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
    }
    
    .gallery__link {
        display: block;
        position: relative;
    }
    
    .gallery__link::after {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(36, 33, 33, 0.5);
        position: absolute;
        opacity: 0;
    }
    
    .gallery__link:hover:after {
        opacity: 1;
    }
    
    .gallery__mix {
        margin-bottom: 39px;
    }
    /* .blockquote */
    
    .blockquote {
        display: flex;
        text-align: center;
        font-style: italic;
        font-weight: normal;
        font-size: 36px;
        justify-content: center;
        flex-direction: column;
        min-height: 200px;
        background-color: #F8F8F8;
        margin-bottom: 200px;
    }
    
    .blockquote__author {
        display: flex;
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        text-align: right;
        margin-right: 145px;
        justify-content: flex-end;
    }
    /* .video */
    
    .video {
        padding: 0 0 195px;
    }
    
    .video__link {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        outline: transparent;
    }
    
    .video__link path {
        transition: fill 0.6s;
    }
    
    .video__link:focus path {
        fill: tomato;
    }
    
    .video__link:hover path {
        fill: #00b2a0;
    }
    
    .video__link:active path {
        fill: #0048ff;
    }
    /* .numbers */
    
    .numbers {
        display: flex;
        justify-content: center;
        padding: 0 0 200px;
    }
    
    .numbers__item {
        display: flex;
    }
    
    .numbers__subtitle {
        font-weight: 700;
        font-size: 64px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .numbers__text {
        font-weight: 300;
        font-size: 14px;
    }
    
    .numbers__subtitle:not(:last-child) {
        margin-right: 80px;
    }
    /* .slider */
    
    .slider__title {
        margin-bottom: 229px;
        text-align: center;
    }
    
    .slider__bg {
        max-width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .slider__bg::after {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(36, 33, 33, 0.5);
        position: absolute;
        z-index: 1;
    }
    
    .slider__bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .slider__inner {
        margin: 0 100px 30px;
    }
    
    .slider__content {
        display: flex;
        justify-content: flex-end;
        color: #FFFFFF;
        padding: 0 360px 0 0;
        min-height: 800px;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    
    .slider__top {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 400;
        max-width: 600px;
        z-index: 1;
    }
    
    .slider__text {
        max-width: 430px;
    }
    
    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 10%;
        left: 43%;
        transition: background-color 0.6s ease;
        cursor: pointer;
    }
    
    .slick-dots li:not(:last-child) {
        margin-right: 15px;
    }
    
    .slick-dots button {
        background-color: #FFFFFF;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
        border: none;
    }
    
    .slick-dots button:hover {
        background-color: #00B2A0;
    }
    
    .slick-active button {
        background-color: #00B2A0;
        transform: translateY(-2px);
    }
    /* .team */
    
    .team__title {
        margin-bottom: 212px;
        padding-top: 200px;
        text-align: center;
    }
    
    .team__content {
        display: flex;
        justify-content: space-between;
    }
    
    .team__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 204px;
        color: #242121;
    }
    
    .team__img {
        margin-bottom: 25px;
    }
    
    .team__name {
        font-weight: 700;
        font-size: 18px;
    }
    
    .team__profession {
        font-weight: 400;
    }
    /* .pricing */
    
    .pricing {
        background-color: #F8F8F8;
        padding: 0 0 200px;
    }
    
    .pricing__title {
        padding-top: 194px;
        margin-bottom: 215px;
    }
    
    .pricing__items {
        display: flex;
        justify-content: space-around;
    }
    
    .pricing__inner {
        min-height: 577px;
        min-width: 360px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        margin-right: 26px;
    }
    
    .pricing__bold-text {
        font-size: 36px;
        margin-bottom: 55px;
        text-align: center;
        padding-top: 43px;
        color: #01353E;
        font-weight: 400;
    }
    
    .pricing__num {
        font-size: 36px;
        text-align: center;
    }
    
    .pricing__num {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .pricing__num-a {
        font-size: 36px;
        padding-top: 75px;
        text-align: center;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .pricing__money {
        font-size: 18px;
        text-align: center;
    }
    
    .pricing__item {
        padding: 0 44px;
    }
    
    .pricing__text {
        padding-left: 45px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    
    .pricing__tex:last-child {
        margin-bottom: 50px;
    }
    /* .map */
    
    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 226px;
    }
    /* .connection */
    
    .connection {
        padding: 200px 0 191px;
    }
    
    .connection__title {
        margin-bottom: 240px;
    }
    
    .connection__inner {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 200px;
    }
    
    .form {
        min-width: 569px;
        margin-right: 31px;
        width: 100%;
    }
    
    .form__text {
        min-width: 270px;
        min-height: 175px;
        padding: 18px 0 73px;
        resize: none;
        margin-bottom: 62px;
    }
    
    .form__input {
        width: 100%;
        padding: 0 0 10px;
        margin-bottom: 41px;
    }
    
    .form__input,
    .form__text {
        color: #00B2A0;
        border: none;
        border-bottom: 2px solid #DADADA;
    }
    
    .connection__text {
        min-width: 600px;
        height: 460px;
        font-size: 24px;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-color: #F8F8F8;
        padding: 35px 200px 50px 52px;
    }
    
    .connection__info {
        margin-bottom: 65px;
    }
    
    .connection__social {
        display: flex;
        justify-content: center;
    }
    
    .send__btn {
        margin-bottom: 194px;
    }
    
    .connection__link {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        color: #242121;
        transition: transform 0.3s ease;
    }
    
    .connection__link:hover {
        color: #00b2a0;
    }
    
    .connection__link:focus {
        color: #00b2a0;
    }
    
    .connection__link:active {
        color: #00b2a0;
    }
    
    .connection__list {
        margin-right: 10px;
    }
    /* .footer */
    
    .footer {
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00B2A0;
    }
    
    @media only screen and (max-width: 980px)and (orientation: landscape) {
        .container {
            min-width: 50%;
            max-width: 67%;
        }
        .header__title {
            font-size: 120px;
        }
        .header__subtitle {
            font-size: 14px;
        }
        .menu__link {
            font-size: 14px;
        }
        .header__content {
            max-width: 500px;
        }
        .menu__list:not(:last-child) {
            margin-right: 10px;
        }
    }
    /* @media only screen and (max-width: 851px)and (orientation: landscape) {} */