html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.6px;
    font-style: normal;
    background-color: #F8F8F8;
    color: #01353E;
}

.title {
    font-family: "Raleway", sans-serif;
    line-height: 1.16;
    letter-spacing: 0.6px;
}


/* header */

.header {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header::before {
    content: '';
    position: absolute;
    height: 45vh;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgb(1, 53, 62) 0%, rgba(51, 51, 51, 0.596) 31.64%, rgba(51, 51, 51, 0.224) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.container {
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner {
    padding-top: 10px;
    display: flex;
    margin-bottom: 230px;
    align-items: center;
    max-width: 956px;
    justify-content: flex-start;
}

.header__nav {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 24px;
}

.header__logo {
    position: relative;
    padding-top: 2px;
}

.header__img {
    margin-right: 185px;
    transition: transform 0.6s;
}

.header__img::hover {
    transform: scale(1.2);
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
}

.menu__list:not(:last-child) {
    margin-right: 45px;
}

.menu__link {
    font-size: 24px;
    font-weight: 400;
    align-items: flex-end;
    color: #fff;
    transition: border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
    position: relative;
    outline: transparent;
}

.menu__link::after {
    content: "";
    background-color: #00b2a0;
    transition: width 3.3s;
    transform: translateX(-50%);
    height: 1px;
    width: 1px;
    left: 50%;
    position: absolute;
}

.menu__link:hover {
    border-bottom: 1px solid #00b2a0;
}

.menu__link:hover::after,
.menu__link:focus::after {
    width: 100%;
}

.header__mouse svg {
    transition: transform 0.4s ease;
    margin-bottom: 92px;
}

.header__mouse svg:hover {
    transform: scale(1.2);
    stroke: #0048ff;
}


/* .header__content */

.header__content {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.header__text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header__title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 200px;
    text-transform: uppercase;
    color: #0D302C;
}

.header__subtitle {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 300px;
}


/* about */

.about {
    background-color: #fff;
    margin-bottom: 199px;
}

.about__title {
    padding-top: 187px;
    margin-bottom: 95px;
}

.title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: #01353E;
}

.title::after {
    content: "/";
    color: #00b2a0;
    position: absolute;
    font-size: 72px;
}

.about__text {
    display: flex;
    flex-wrap: wrap;
    color: #242121;
}

.about__text p {
    max-width: 480px;
    margin: 0 120px 30px 0;
}


/* onschool */

.onschool {
    background-color: #f8f8f8;
    margin-bottom: 170px;
}

.onschool__title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    position: relative;
    padding-top: 165px;
    margin-bottom: 101px;
    text-align: center;
}

.onschool__title::after {
    content: "/";
    color: #00b2a0;
    width: 48px;
    height: 85px;
    position: absolute;
    font-size: 72px;
}

.onschool__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}

.onschool__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 358px;
    text-align: left;
    letter-spacing: 0.6px;
}

.onschool__subtitle {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 185px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.sun,
.airplane,
.wawe {
    max-width: 50px;
    max-height: 50px;
}

.sun::before {
    content: url(../images/sun.svg);
}

.airplane::before {
    content: url(../images/airplane.svg);
}

.wawe::before {
    content: url(../images/wawe.svg);
}


/* stat */

.stat__ranking {
    display: flex;
    justify-content: space-between;
}

.stat__inner {
    display: flex;
    max-height: 20px;
    margin-bottom: 5px;
    padding-top: 8px;
}

.stat__wave {
    width: 300px;
    height: 30px;
    background-image: url(../images/info.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.stat__numb {
    font-size: 24px;
    font-weight: 400;
    min-width: 43px;
    display: flex;
}

.stat__subtile {
    margin-bottom: 10px;
}

.stat__text p {
    max-width: 600px;
    margin-bottom: 30px;
}


/* surfer */

.surfer {
    margin-bottom: -40px;
}

.surfer__bg {
    background-image: url(../images/surfer.jpg);
    background-repeat: no-repeat;
    background-size: 50% 78%;
    background-position: top right;
}

.surfer__inner {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 200px 0 347px;
}

.surfer__title {
    margin-bottom: 100px;
}

.surfer__text p {
    max-width: 510px;
    margin-bottom: 30px;
}


/* .gallery */

.gallery {
    margin-bottom: 66px;
}

.gallery__top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 209px;
}

.gallery__inner {
    display: flex;
}

.gallery__btn-mix:hover,
.gallery__add:hover {
    color: #00b2a0;
    transition: transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.gallery__btn-mix:first-child {
    margin-right: 6px;
}

.gallery__btn-mix {
    text-transform: uppercase;
    font-size: 24px;
    border: none;
    position: relative;
    cursor: pointer;
    background: transparent;
    outline: transparent;
    margin-bottom: 25px;
    font-weight: 400;
}

.gallery__btn-mix::after,
.gallery__add::after {
    content: "";
    background-color: #00b2a0;
    transition: width 0.3s ease-in-out;
    transform: translate(-50%);
    height: 1px;
    width: 1px;
    left: 50%;
    position: absolute;
}

.gallery__btn-mix:focus::after,
.gallery__add:focus::after {
    width: 50%;
}

.btn {
    border: 1px solid #C4C4C4;
    cursor: pointer;
    font-size: 24px;
    background: #FFFFFF;
    padding: 15px;
}

.gallery__btn-add {
    padding-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__add {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    min-width: 350px;
    min-height: 70px;
    position: relative;
    cursor: pointer;
    background: transparent;
    outline: transparent;
}

.gallery__content {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}


/* градиент не получилось сделать */

.gallery__link {
    padding: 20px;
    width: 100%;
    height: auto;
    outline: transparent;
}

.gallery__mix:hover {
    transform: scale(1.1);
    transition: transform 3s cubic-bezier(0.47, 0, 0.745, 0.715);
}


/* .blockquote */

.blockquote {
    display: flex;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    justify-content: flex-end;
    flex-direction: column;
    max-height: 200px;
    padding-top: 270px;
    margin-bottom: 259px;
    background-color: #F8F8F8;
}

.blockquote__author {
    display: flex;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    margin-right: 145px;
    justify-content: flex-end;
}


/* .video */

.video {
    padding-top: 200px;
}

.video__link {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    outline: transparent;
}

.video__link path {
    transition: fill 0.6s;
}

.video__link:focus path {
    fill: tomato;
}

.video__link:hover path {
    fill: #00b2a0;
}

.video__link:active path {
    fill: #0048ff;
}


/* .numbers */

.numbers {
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    margin-bottom: 198px;
}

.numbers__item {
    display: flex;
}

.numbers__subtitle {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: #01353E;
    font-size: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.numbers__text {
    font-weight: 300;
    font-size: 14px;
}

.numbers__subtitle:not(:last-child) {
    margin-right: 80px;
}


/* .slider */

.slider__title {
    margin-bottom: 229px;
    text-align: center;
}

.slider__blog {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 800px;
}


/* ниже не додал свойство position: absolute; потому что перебивает свойства  dots-ов - не реагируют - так что с затемнением не получилось .  как сделать? */

.slider__blog::after {
    content: '';
    height: 74vh;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(36, 33, 33, 0.5);
}

.slider__item {
    display: flex;
    justify-content: flex-end;
}

.slider__content {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
}

.slider-link {
    color: #FFFFFF;
    margin-right: 360px;
    padding: 314px 0 351px;
}

.slider__item-text {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;
    max-width: 600px;
}

.slider__text {
    text-transform: uppercase;
    max-width: 408px;
    font-size: 14px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 88%;
    left: 43%;
}

.slick-dots li:not(:last-child) {
    margin-right: 15px;
}

.slick-dots button {
    background-color: #FFFFFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none;
    margin-bottom: 77px;
}

.slick-active button {
    background-color: #00B2A0;
    transform: translateY(-2px);
}

.team__title {
    margin-bottom: 212px;
    padding-top: 200px;
    text-align: center;
}

.team__content {
    display: flex;
    justify-content: space-between;
}

.team__items {
    text-align: center;
    margin-bottom: 204px;
}

.team__img {
    margin-bottom: 25px;
}

.team__name {
    font-weight: 700;
    font-size: 18px;
    color: #242121;
}

.team__profession {
    font-weight: 400;
    font-size: 14px;
    color: #242121;
}


/* .pricing */

.pricing {
    background-color: #F8F8F8;
}

.pricing__title {
    padding-top: 194px;
    margin-bottom: 256px;
}

.pricing__bold-text,
.pricing__num {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 56px;
    text-align: center;
}

.pricing__item:not(:last-child) {
    margin-right: 60px;
}

.pricing__item {
    max-width: 360px;
}

.pricing__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 271px;
    background-color: #FFFFFF;
}

.pricing__text {
    margin-bottom: 20px;
    font-weight: 400;
}

.pricing__num {
    padding-top: 33px;
}

.pricing__num:nth-child(4n) {
    padding-top: 110px;
}


/* знак $ по центру не вышло сделать
- можно тут обЪяснить? (думал менять структуру html) */

span {
    font-size: 18px;
    align-items: center;
}


/* .map */

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map__position {
    padding-top: 142px;
    margin-bottom: 200px;
}