html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.6px;
    font-style: normal;
    background-color: #F8F8F8;
    color: #01353E;
}

.title {
    font-family: "Raleway", sans-serif;
    line-height: 1.16;
    letter-spacing: 0.6px;
}


/* header */

.header {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 1080px;
}

.header::before {
    content: '';
    position: absolute;
    height: 45vh;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgb(1, 53, 62) 0%, rgba(51, 51, 51, 0.596) 31.64%, rgba(51, 51, 51, 0.224) 74.35%, rgba(51, 51, 51, 0) 99.87%);
}

.container {
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__inner {
    padding-top: 10px;
    display: flex;
    margin-bottom: 230px;
    align-items: center;
    max-width: 956px;
    justify-content: flex-start;
}

.header__nav {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 24px;
}

.header__logo {
    position: relative;
    padding-top: 2px;
}

.header__img {
    margin-right: 185px;
    transition: transform 0.6s;
}

.header__img::hover {
    transform: scale(1.2);
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
}

.menu__list:not(:last-child) {
    margin-right: 45px;
}

.menu__link {
    font-size: 24px;
    font-weight: 400;
    align-items: flex-end;
    color: #fff;
    transition: border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
    position: relative;
    outline: transparent;
}

.menu__link::after {
    content: "";
    background-color: #00b2a0;
    transition: width 3.3s;
    transform: translateX(-50%);
    height: 1px;
    width: 1px;
    left: 50%;
    position: absolute;
}

.menu__link:hover {
    border-bottom: 1px solid #00b2a0;
}

.menu__link:hover::after,
.menu__link:focus::after {
    width: 100%;
}

.header__mouse svg {
    transition: transform 0.4s ease;
    margin-bottom: 92px;
}

.header__mouse svg:hover {
    transform: scale(1.2);
    stroke: #0048ff;
}


/* .header__content */

.header__content {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.header__text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header__title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 200px;
    text-transform: uppercase;
    color: #0D302C;
}

.header__subtitle {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 300px;
}


/* about */

.about {
    background-color: #fff;
    margin-bottom: 199px;
}

.about__title {
    padding-top: 187px;
    margin-bottom: 95px;
}

.title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: #01353E;
}

.title::after {
    content: "/";
    color: #00b2a0;
    position: absolute;
    font-size: 72px;
}

.about__text {
    display: flex;
    flex-wrap: wrap;
    color: #242121;
}

.about__text p {
    max-width: 480px;
    margin: 0 120px 30px 0;
}


/* onschool */

.onschool {
    background-color: #f8f8f8;
}

.onschool__title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    position: relative;
    padding-top: 165px;
    margin-bottom: 101px;
    text-align: center;
}

.onschool__title::after {
    content: "/";
    color: #00b2a0;
    width: 48px;
    height: 85px;
    position: absolute;
    font-size: 72px;
}

.onschool__items {
    display: flex;
    justify-content: space-between;
}

.onschool__content {
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    max-width: 358px;
    text-align: left;
    letter-spacing: 0.6px;
}

.onschool__subtitle {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 185px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    letter-spacing: 1.5px;
}

.sun::before {
    content: url(../images/sun.svg);
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.airplane::before {
    content: url(../images/airplane.svg);
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.wawe::before {
    content: url(../images/wawe.svg);
    max-width: 50px;
    max-height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* stat */

.stat {
    padding-top: 103px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 200px;
}

.stat__ranking {
    display: flex;
    justify-content: space-between;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat__inner {
    display: flex;
    max-height: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.stat__subtile {
    margin-bottom: 10px;
}

.stat__wave {
    width: 300px;
    height: 15px;
    background-image: url(../images/info.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    margin-right: 10px;
}

.stat__numb {
    font-size: 24px;
    font-weight: 400;
    min-width: 43px;
    display: flex;
}

.stat__text {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.stat__text p {
    margin-bottom: 30px;
}


/* surfer */

.surfer {
    margin-bottom: 200px;
}


/*не удалось спозиционировать картинку через absolute*/

.surfer__bg {
    background-image: url(../images/surfer.jpg);
    background-repeat: no-repeat;
    /* background-size: 50% 100%; */
    max-width: 960px;
    min-height: 850px;
    /* background-position: top right; */
    padding-top: 180px;
    margin-bottom: 200px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.surfer__inner {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding-top: 165px;
}

.surfer__title {
    margin-bottom: 100px;
}

.surfer__text p {
    max-width: 510px;
    margin-bottom: 30px;
}


/* .gallery */

.gallery {
    margin-bottom: 200px;
}

.gallery__top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 206px;
    padding-top: 200px;
}

.gallery__inner {
    display: flex;
}

.gallery__btn-mix:hover,
.gallery__add:hover {
    color: #00b2a0;
    transition: transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}


/* .gallery__btn-mix {
    display: flex;
    justify-content: center;
    min-width: 100px;
} */

.gallery__btn-mix:first-child {
    margin-right: 6px;
}

.gallery__btn-mix {
    text-transform: uppercase;
    font-size: 24px;
    border: none;
    position: relative;
    cursor: pointer;
    background: transparent;
    outline: transparent;
    margin-bottom: 25px;
    font-weight: 400;
}

.gallery__btn-mix:after,
.gallery__add::after {
    content: "";
    background-color: #00b2a0;
    transition: width 0.3s ease-in-out;
    transform: translate(-50%);
    height: 1px;
    width: 1px;
    left: 50%;
    position: absolute;
}

.gallery__btn-mix:focus:after,
.gallery__add:focus::after {
    width: 50%;
}

.btn {
    border: 1px solid #C4C4C4;
    cursor: pointer;
    font-size: 24px;
    background: #FFFFFF;
    padding: 15px;
}

.gallery__btn-add {
    padding-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__add {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    min-width: 350px;
    min-height: 70px;
    position: relative;
    cursor: pointer;
    background: transparent;
    outline: transparent;
}

.gallery__content {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}


/* градиент не получилось сделать */

.gallery__link {
    padding: 20px;
    width: 100%;
    height: auto;
    outline: transparent;
}

.gallery__mix:hover {
    transform: scale(1.1);
    transition: transform 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
}


/* .blockquote */

.blockquote__cite {}

.blockquote {
    display: flex;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    justify-content: flex-end;
    flex-direction: column;
    max-height: 200px;
    padding-top: 270px;
    margin-bottom: 125px;
    background-color: #F8F8F8;
}

.blockquote__author {
    display: flex;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    margin-right: 145px;
    justify-content: flex-end;
}


/* .gallery__video */

.video {
    padding-top: 200px;
}

.video__link {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    outline: transparent;
}

.video__link path {
    transition: fill 0.6s;
}

.video__link:hover path {
    fill: #00b2a0;
}

.video__link:focus path {
    fill: tomato;
}

.video__link:active path {
    fill: #0048ff;
}


/* .numbers */

.numbers {
    display: flex;
    justify-content: space-around;
    padding: 200px 0 198px;
}

.numbers__item {
    display: flex;
}

.numbers__subtitle {
    color: #01353e;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.numbers__text {
    font-weight: 300;
    font-size: 14px;
}

.numbers__subtitle:not(:last-child) {
    margin-right: 80px;
}


/* .slider */

.slider__content {
    padding: 314px 0 351px 0;
}

.slider-blog {
    margin-bottom: 229px;
}

.slider__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 800px;
}

.slider__item::after {
    content: '';
    position: absolute;
    height: 86vh;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(36, 33, 33, 0.5);
}

.slider__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.slider__item-text {
    text-transform: uppercase;
    max-width: 600px;
    font-size: 48px;
    font-weight: 400;
}

.slider__text {
    text-transform: uppercase;
    max-width: 408px;
    font-size: 14px;
}